*{
    margin: 0;
    padding: 0;
}


h1 {
    color: #ffdc8e;
    background-color: #869F9D;
    margin-bottom: 20px;
    padding: 20px;
}

.grid{
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(400px, 1fr));
}

.card {
    color: #ffffff;
    background-color: #ffdc8e;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
    font-weight: bold;
}

.card > ul {
    list-style: none;
}